* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("./images/pokemon_card_wallpaper_by_shadowxofxlight_d31rl9w-fullview.jpg");
  padding-left: 16%;
  padding-right: 16%;
}

.header {
  min-width: 420px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(251, 202, 60);
  border: 10px solid black;
}

.main {
  min-width: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  flex-direction: row;
  border: 10px solid black;
}

.section1 {
  margin: 10px;
  text-align: center;
} 

.input {
  margin-bottom: 10px;
  background-color: white;
  border: 5px solid black;
}

.button {
  background-color: rgb(251, 202, 60);
  border: 5px solid black;
}

.section2 {
  padding: 10%;
  font-size: 1.2rem;
  flex-wrap: wrap;
  line-height: 50px;
} 

.section-wrap {
  flex-direction: column;
  margin: 10px;
  flex: 1;
}

.img {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 250px;
  width: 100%;
}

.footer {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  min-width: 420px;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: rgb(251, 202, 60);
  border: 10px solid black;
}