.header1 {
  margin: 10px 10px 0px 10px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  border: 10px solid black;
}


.h21 {
  margin: 10x 10px 0px 10px;
  padding: 25px;
  display: flex;
	justify-content: center;
  background-color: yellow;
  border: 10px solid black;
}

.input1{
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 45%
}



.button1{
	background-color: yellow;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 40%
}

.footer1 {
  margin: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  background-color: yellow;
  border: 10px solid black;
}