* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("./images/pokemon_card_wallpaper_by_shadowxofxlight_d31rl9w-fullview.jpg");
  padding-left: 16%;
  padding-right: 16%;
}

.header {
  min-width: 420px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(251, 202, 60);
  border: 10px solid black;
}

.main {
  min-height: 600px;
  min-width: 420px;
  display: flex, auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: white;
  border: 10px solid black;
}

.h2 {
  padding-top: 40px;
}

.p {
  font-size: 1.2rem;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 40px;
}

.form {
  padding-bottom: 40px;
}

.input {
  margin-bottom: 10px;
  background-color: white;
  border: 5px solid black;
}

.button {
  background-color: rgb(251, 202, 60);
  border: 5px solid black;
}

.footer {
  margin-top: 15px;
  min-width: 420px;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
<<<<<<< HEAD
  background-color: #ffde00;
  border: 10px solid black;
  color: #3b4cca;
  flex-shrink: 1;
}


 .h21 {
  margin: 10x 10px 0px 10px;
  font-size: 3rem;
  display: contents;
	justify-content: center;
  color: #3b4cca;
  background-color: #ffde00;
  flex-shrink: 1;
}


.main1 {
  margin: 10px 10px 0px 10px;
  padding: 95px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffde00;
  background-image: url("https://wallpapers.com/images/featured-full/pokemon-hd-pictures-fazqcs1tmwwte1ap.jpg");
  background-size: cover;
  border: 10px solid black;
  justify-content: center;
  flex-shrink: 1;
}

.p1 {
  background-color: #ff0000;
  display: inline-block;
  margin-left: 300px;
  margin-right: 300px;
  flex-shrink: 1;
}


.input1 {
	height: 2rem;
  text-align: center;

}

.button1{
  height: 2.25rem;
	background-color: #ffde00;
	
}


.footer1 {
  position: absolute;
  bottom: 5;
  width: 91.5%;
  font-size: 1.5rem;
  margin: 10px 10px 0px 10px; 
  padding: 25px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  background-color: #ffde00;
  color: #3b4cca;
=======
  text-align: center;
  background-color: rgb(251, 202, 60);
>>>>>>> a904d2f6360f0075378c66ff6153a376bf19de82
  border: 10px solid black;
  flex-shrink: 1;
}