* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("./images/pokemon_card_wallpaper_by_shadowxofxlight_d31rl9w-fullview.jpg");
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 2rem;
  letter-spacing: 5px;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 10px solid black;
}

.main {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 750px;
  background-color: white;
  border: 10px solid black;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.p {
  margin-left: 300px;
  margin-right: 300px;
}

.input {
  border: 5px solid black;
}

.button {
  border: 5px solid black;
}

.footer {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 10px solid black;
  }